/* style sheet for pacredir */
body {
  font-family: sans-serif;
}
h1 {
  padding-left: 36px;
  background-image: url("favicon.png");
  background-repeat: no-repeat;
}
h2 a {
  color: black;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
code {
  margin: 0 2px;
  padding: 2px 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 3px;
}
p.foot {
  color: #777;
  text-align: center;
}
th {
  background: #efefef;
}
td {
  text-align: center;
  padding: 1px 5px;
}
tr:nth-child(even) {
  background: #dfdfdf;
}
tr:nth-child(odd) {
  background: #efefef;
}
tr:hover {
  background: #dfefef;
}
tr.offline {
  color: grey;
}
@media only screen and (orientation: landscape) {
  body {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
