[Unit]
Description=Darkhttpd to serve pacman db files
After=network.target

[Service]
ExecStart=/usr/bin/darkhttpd /var/lib/pacman/sync/ --port 7079

[Install]
WantedBy=multi-user.target
