# (C) 2013-2022 by Christian Hesse <mail@eworm.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

[Unit]
Description=Redirect pacman requests via avahi service
Requires=avahi-daemon.service
After=avahi-daemon.service network.target network-online.target
Documentation=https://github.com/eworm-de/pacredir#pacredir

[Service]
Type=notify
ExecStart=/usr/bin/pacredir
ExecReload=/usr/bin/kill -HUP $MAINPID
DynamicUser=on
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
Also=pacserve.service
