[Unit]
Description=Redirect pacman requests via avahi service
Requires=avahi-daemon.service

[Service]
ExecStart=/usr/bin/pacredir

[Install]
WantedBy=multi-user.target
