# (C) 2013-2025 by Christian Hesse <mail@eworm.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

[Unit]
Description=Announce pacman database files and package archives
After=avahi-daemon.service pacserve.service
BindsTo=pacserve.service
Requisite=avahi-daemon.service

[Service]
Environment=SERVICE=%l
Environment=DIST=%o
Environment=ARCH=
Environment=PORT=7078
EnvironmentFile=-/etc/pacserve.conf
ExecStart=/bin/sh -c 'exec /usr/bin/avahi-publish -s $$1 _pacserve_$$2_$${3:-$$(uname -m)}._tcp $$4' \
    pacserve-announce ${SERVICE} ${DIST} ${ARCH} ${PORT}
DynamicUser=on
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on
