[Unit]
Description=Serve pacman database files and package archives
After=systemd-tmpfiles-setup.service network.target

[Service]
ExecStart=/usr/bin/pacserve /run/pacserve/ --ipv6 --port 7078 --no-listing
BindReadOnlyPaths=/var/cache/pacman/pkg:/run/pacserve/pkg /var/lib/pacman/sync:/run/pacserve/db
DynamicUser=on
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
