[Desktop Entry]
Type=Application
Version=1.0
Name=pacredir status
GenericName=Status and statistics for pacredir
Comment=Show status and statistics for pacredir
Icon=/usr/share/pixmaps/pacredir.png
Exec=/usr/bin/xdg-open http://localhost:7077/
Categories=System;PackageManager
Keywords=system;PackageManager
